
 

body{
    background-color: #182A2C;
}


.img-cabeçalho{
    height: 300px;
}

.cabeçalho{
    display: flex;
    justify-content:  space-between; 


}


.item-cabeçalho{
    display:  inline-block;
    margin:  20px;
    font-size:  25px;
}